################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/appsettings.json
**/appsettings.*.json
/Src/Services/Eshop.Web/
/Src/Services/note.txt
**/Eshop.Web/