################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
**/appsettings.json
**/appsettings.*.json
/Src/Services/Eshop.Web/
/Src/Services/note.txt
/Src/Services/plan.txt  
/Src/Services/Endpoints.http
**/Eshop.Web/
/Src/Services/Eshop.Web/bin/
**/Eshop.Web/obj/
.vs
/Src/Services/Eshop.Web/Eshop.Web.csproj
/Src/Services/.idea/
/Src/Services/qodana.yaml
/Src/Services/Eshop.AspireTests
/Src/Services/Eshop.AspireTests/Eshop.AspireTests.csproj
/Src/Services/Eshop.AspireTests/IntegrationTest1.cs
/Src/Services/Eshop.Web/
/Src/Services/Eshop.Frontend/src/store/ZustandTestStore.tsx
/Src/Services/Eshop.Frontend/src/components/ProductComponent.tsx
/Src/Services/Eshop.Frontend/src/context/useTestContext.tsx
/Src/Services/Eshop.Payment/Eshop.Payment.csproj
/Src/Services/Eshop.Payment/Eshop.Payment.csproj
/Src/Services/Eshop.AppHost/appsettings.json
/Src/Services/Eshop.BlazorFrontend/Eshop.BlazorFrontend.Client/Eshop.BlazorFrontend.Client.csproj
/Src/Services/Eshop.BlazorFrontend/Eshop.BlazorFrontend/Eshop.BlazorFrontend.csproj
